/* General */
.container {
    /* margin-top: 350px; */
    min-height: 100vh;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}

/* Home */

.info-bar {
    background-color: #1E1E1E;
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.info-bar>p {
    font-family: 'HvDTrial Brandon Grotesque';
    font-size: 28px;
    width: 50%;
    margin: 25px;
    margin-left: 50px;
}

.info-bar>div {
    margin-left: auto;
    margin-right: 200px;
}

.info-button {
    background-color: #D55140;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 20px;
    z-index: 1;
}

.highlight {
    height: 100vh;

    /* background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */

    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
    /* transform: scale(1);
    transition: transform 800ms ease 0ms, opacity 0s ease; */
}

.highlight-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 100vw;
    max-height: 100vh;
    /* Adjust the maximum height based on your needs */
    transform: scale(1);
    transition: transform 800ms ease 0ms, opacity 0s ease;
}

.highlight-image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.highlight-image:hover {
    transform: scale(1.03);
}

.highlight-info {
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: white;
    /* align-items: center; */
}

h2,
h3 {
    margin: 0;
}

/* navbar */
.background {
    min-width: 100vh;
    background: rgba(0, 0, 0, .25) url('./header.jpg');
    background-blend-mode: darken;

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-container {
    width: 95%;
    position: absolute;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}

.nav-title {
    font-family: 'EB Garamond', serif;
    font-size: 128px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0
}

nav {
    display: flex;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
    font-family: Europa-Regular;
}

ul {
    list-style-type: none;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 25px
}

li>a {
    font-family: 'HvDTrial Brandon Grotesque';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 25px;
    font-size: 32px;
    padding: 8px 16px;
    border-radius: 5px;
}

.selected {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/* Writings */

.writings-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 50px;
}

.writing-card {
    margin-bottom: 1rem;
    /* border-radius: 0.5rem; */
    background-color: #2D2D2D;
    /* border: black solid 1px; */
    color: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.writing-card:hover {
    /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); */
    filter: brightness(90%);
}

.writing-card-image {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: black solid 1px;
}

.writing-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.writing-card-content {
    padding: 1rem;
}

.writing-card-content h3 {
    font-weight: 500;
    margin: 0.5rem 0;
}

.writing-card-content p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    white-space: pre-line;
}