/* General */
.container {
    /* margin-top: 350px; */
    min-height: 100vh;
    overflow: hidden;
}

/* Home */

.highlight-1 {
    height: 100vh;
    background: url('./hotel.jpeg') rgba(32, 35, 39, 0.25);

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    transform: scale(1);
    transition: transform 800ms ease 0ms, opacity 0s ease;
}

.highlight-1:hover {
    transform: scale(1.03);
    /* Adjust the scale factor as needed */
}

.highlight-2 {
    height: 100vh;
    background: url('./irene.png') rgba(32, 35, 39, 0.25);

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    transform: scale(1);
    transition: transform 800ms ease 0ms, opacity 0s ease;
}

.highlight-2:hover {
    transform: scale(1.03);
    /* Adjust the scale factor as needed */
}

.highlight-info {
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: white;
    /* align-items: center; */
}

h2,
h3 {
    margin: 0;
}

/* navbar */
.background {
    min-width: 100vh;
    background: url('./header.jpg') rgba(32, 35, 39, 0.25);

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-container {
    width: 95%;
    position: absolute;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}

.nav-title {
    font-family: 'EB Garamond', serif;
    font-size: 128px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0
}

nav {
    display: flex;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
    font-family: Europa-Regular;
}

ul {
    list-style-type: none;
    min-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 25px
}

li>a {
    font-family: "Europa Regular";
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 25px;
    font-size: 32px;
    padding: 8px 16px;
    border-radius: 5px;
}

.selected {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}